 /* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    margin: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    height:100%;
    width:auto;
}

header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    padding-right:2em;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-btn {
    background: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    margin-top: auto;
}
