@using ToDo.Core.Models.ViewModels
@model ProjectsVM

@{
    ViewData["Title"] = "Projects";
}

<div class="client-area">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <h3 class="logo">Projects</h3>
            <nav>
                <a href="#participated">Participated Projects</a>
                <a href="#created" class="active">Created Projects</a>
            </nav>
        </div>
        <hr class="divider">
    </div>
    <div class="offset"></div>
    <div class="project-list">
    
        <div class="greeting">What will you work on today, <strong>@Model.UserName</strong>?</div>
        <div class="container">
            <a href="/projects/create" class="create-project-btn">+ Create New Project</a>
            @foreach (var project in Model.Projects)
            {
                <a href="projects/@project.id" class="project-link">
                    <div class="project">
                        <div class="project-header">
                            <div class="project-title">@project.title</div>
                            <button class="leave-btn" id="@project.id">Leave</button>
                        </div>
                        <div class="project-description">
                            @project.description
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.leave-btn').forEach(button => {
        button.addEventListener('click', function(event) {
            event.stopPropagation();
            event.preventDefault();
        });
    });
</script>
